* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background-color: #ebd5d5;
    color: #796464;
}

header {
    background: #3f2b2b;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: rgb(202, 199, 22);
    text-decoration: none;
}

.hero {
    text-align: center;
    margin-top: 40px;
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

.project {
    background: #ece9c0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.skills-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.skills-list li {
    background: #edf06a;
    padding: 10px;
    border-radius: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    padding: 10px 20px;
    background: #b13a3a;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background: #6ee6e0;
    color: white;
}